<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 20px; font-family: Verdana, sans-serif; background-color: #ececec;">
    <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; background-color: #FAFAFA; border-radius: 25px;">
      <tr>
        <td style="padding: 0; position: relative;">
          <img src="https://res.cloudinary.com/dtwsx717g/image/upload/v1748362572/hero-PaginaPrincipal-1600px_lzmiuk.webp" alt="Header" width="600" height="200" style="object-fit: cover; display: block; border-top-left-radius: 25px; border-top-right-radius: 25px;"  role="presentation" aria-hidden="true">
        </td>
      </tr>
      <tr>
        <td style="padding: 20px; text-align: center;">
          <img src="https://res.cloudinary.com/dtwsx717g/image/upload/v1748362495/LogoHikelink-512px_d1aj3r.png" alt="Logo" width="150" style="background-color: #2E7D32; padding: 10px; border-radius: 25px;" role="presentation" aria-hidden="true">
          <h1 style="color: #2E7D32;">¡Bienvenido/a {{ full_name }}!</h1>
          <p>Gracias por registrarte en <strong style="color:#81C784;">HikeLink</strong>, tu plataforma para descubrir y compartir rutas de senderismo.</p>
          <p><a href="{{url}}" class="btn" style="display: inline-block; background-color: #2E7D32; color: #fff; font-weight: bold; padding: 12px 24px; text-decoration: none; border-radius: 25px; font-family: sans-serif;">Comenzar tu aventura</a></p>
          <p>Disfruta de la comunidad y comparte tus rutas favoritas.</p>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; font-size: 12px; color: #888; padding: 16px;">
          <p>Síguenos:</p>
          <p>
            <a href="https://instagram.com/hikelink"><img src="https://cdn-icons-png.flaticon.com/24/1384/1384063.png" alt="IG"></a>
            <a href="https://twitter.com/hikelink"><img src="https://cdn-icons-png.flaticon.com/24/1384/1384065.png" alt="X"></a>
            <a href="https://facebook.com/hikelink"><img src="https://cdn-icons-png.flaticon.com/24/1384/1384053.png" alt="FB"></a>
          </p>
          <p>¿Tienes dudas? Escríbenos a <a href="mailto:hikelink.soporte@gmail.com">hikelink.soporte@gmail.com</a></p>
          <p>© {{ year }} HikeLink. Todos los derechos reservados.</p>
        </td>
      </tr>
    </table>
  </body>
</html>
