@import "tailwindcss";

/* Declara colores */
:root {
  --color-green: #2e7d32;
  --color-light-green: #81c784;
  --color-light-green-opacity: #81c78480;
  --color-brown: #8d6e63;
  --color-vanille: #f6d7b0;
  --color-vanille-opacity: #f6d7b080;
  --color-black: #212121;
  --color-black-opacity: #21212180;
  --color-white: #fafafa;
  --color-dark-grey: #656565;
  --color-grey: #bdbdbd;
}

/* Declaro las fuentes */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

/* Declaro los estilos basicos */
body {
  font-family: "Lato", sans-serif !important;
  color: var(--color-black);
}

@theme {
  --color-green: var(--color-green);
  --color-light-green: var(--color-light-green);
  --color-light-green-50: var(--color-light-green-opacity);
  --color-brown: var(--color-brown);
  --color-vanille: var(--color-vanille);
  --color-vanille-50: var(--color-vanille-opacity);
  --color-black: var(--color-black);
  --color-black-50: var(--color-black-opacity);
  --color-white: var(--color-white);
  --color-dark-grey: var(--color-dark-grey);
  --color-grey: var(--color-grey);

  --font-lato: "Lato";
  --font-montserrat: "Montserrat";
  --font-montserrat-bold: "Montserrat-Bold";
}
